.App {
  margin: 40px auto;
  max-width: 600px;
  font-family: "Ubuntu";
  
}

h1 {
  text-align: center;
  color: #590995;
}

.footer {
  font-size: 10px;
  text-align: center;
  margin-top: 12px;
  color:#383838;
}
