.Weather {
  border: 1px solid #dadde1;
  border-radius: 15px;
  padding: 15px;
  max-width: 600px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  background: radial-gradient(circle at 10% 20%, rgb(239, 246, 249) 0%, rgb(206, 239, 253) 90%);

}

.Weather form {
  margin-bottom: 10px;
}

.Weather li {
  list-style: none;
}

.date {
  color: #3f4e4f;
  padding: 0;
}
.weatherDetails {
  color: #7f8487;
}

.Weather .unit {
  font-size: 18px;
  max-height: 64px;
  position:relative;
  top:-12px;
}

.Weather .description{
    text-transform: capitalize;
}

.Weather canvas{
  display:-webkit-box;
}

.Weather a {
  color: #73777B;
  text-decoration: none;
}