.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  padding: 15px;
  max-width: 600px;
}

.Weather form {
  margin-bottom: 10px;
}
.Weather h1 {
  color: #3f4e4f;
}

.Weather li {
  list-style: none;
}

.date {
  color: #3f4e4f;
  padding: 0;
}
.weatherDetails {
  color: #7f8487;
}

.Weather .temp {
  font-size: 36px;
  max-height: 64px;
}

.Weather .unit {
  font-size: 18px;
  max-height: 64px;
  position:relative;
  top:-12px;
}

.Weather .description{
    text-transform: capitalize;
}

.Weather canvas{
  display:-webkit-box;
}

.Weather a {
  color:red;
  text-decoration: none;
}