.WeatherForecast {
  text-align: center;
  padding: 3px;
  margin: 5px;
}

.WeatherForecast .weatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast .weatherForecast-day {
  color: #150485;
  margin: 10px;
}
