.WeatherInfo .tempRange {
  color: #03c4a1;
  text-align: left;
  padding-left: 40px;
}

.WeatherInfo .dateTime {
  color: #03c4a1;
  text-align: right;
  padding-right: 40px;
  margin-bottom: 30px;
}
